@import "styles/colors.css";
@import "styles/audio.css";
@import "styles/connection.css";
@import "styles/distro.css";
@import "styles/groups.css";
@import "styles/idle.css";
@import "styles/system.css";
@import "styles/timezone.css";
@import "styles/tray.css";
@import "styles/workspace.css";

* {
  margin: 0;
  padding: 0;
  min-height: 0px;
  border: none;
  border-radius: 0;
  font-family: Maple Mono NF CN, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 12px;
}

window#waybar {
  background-color: transparent;
}
